<h1>justBlog <em>on Rails</em></h1>

<% @blog_posts.each do |blog_post| %>
  <div class='blog-box blue-border'>
    <h3><%= blog_post.title %></h3>
    <p><%= blog_post.body %></p>
    <%= link_to 'show', blog_post %>
    <%= link_to 'edit', edit_blog_post_path(blog_post) %>
    <%= link_to 'destroy', blog_post, method: :delete, data: { confirm: 'you serious, clark?' } %>
  </div>
<% end %>

<br>

<%= link_to 'New Post', new_blog_post_path %>

<p id='notice'><%= notice %></p>
